/* Geral */

#inicio, #sobre, #habilidades, #projetos, #contatos, #rodape {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.cardHabilidades:hover, .cardProjetos:hover, .cardContatos:hover {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 100%);
}

body {
    overflow-x: hidden;
}

p {
    text-align: justify
}

/* Menu */

.logoSite {
    width: 2rem;
}

.navbar {
    position: -ms-device-fixed;
    background-color: #78D4D5;
    width: 100%;
}

.navbar .nav-link {
    border-style: solid;
    border-color: #78D4D5;
    border-radius: 5px;
    align-self: center;
    color: white;
}

.navbar .nav-inicio, .navbar .nav-habilidades, .navbar .nav-contatos {
    background-image: linear-gradient(#FF6507, #FFB557);
    font-weight: bold;
}

.navbar .nav-sobre, .navbar .nav-projetos {
    background-image: linear-gradient(#008F96, #50DFE6);
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: black;
}

/* Início */

#inicio {
    background-color: #FFA577;
    height: 100vh;
}

#inicio .hero_titulo {
    font-size: 6rem;
}

#inicio .hero_desc {
    font-size: 3rem;
}

#inicio .hero-text {
    text-align: left;
    position: absolute;
    bottom: 15%;
    transform: translate(-5%, -55%);
    color: black;
}

.bgimage {
    height: 50rem;
    background: url('img/heroImage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

/* Sobre */

#sobre {
    background-color: #78D4D5;
}

#sobre .imagemSobre {
    width: 100%;
    border-radius: 10px;
}

#sobre li {
    list-style: none;
}

/* Habilidades */

#habilidades {
    background-color: #FFA577;
    text-align: center;
}

#habilidades .cardHabilidades {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#habilidades .skillIcon {
    width: 56px;
    height: 56px;
    margin: auto;
}

/* Projetos */

#projetos {
    background-color: #78D4D5;
}

#projetos a:hover {
    color: black;
}

#projetos .card-img-top {
    height: 25vh;
}

#projetos .card-body {
    min-height: 300px;
}

#projetos .imgProjeto {
    border-radius: 2vh;
}

#projetos .btn {
    background-image: linear-gradient(#008F96, #50DFE6);
}

#projetos .cardProjetos {
    padding: 2vh;
}

/* Contatos */

#contatos {
    background-color: #FFA577;
    text-align: center;
}

#contatos .cardContatos {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#contatos .cardContatos a {
    color: black;
    text-decoration: none;
}

#contatos .cardContatos a:hover {
    color: #008F96;
}

#contatos .contactIcon {
    width: 56px;
}

/* Rodapé */

#rodape {
    background-color: #78D4D5;
}

#rodape .rodape-logo {
    width: 20vh;
}

#rodape a {
    color: black;
    text-decoration: none;
}

#rodape a:hover {
    color: #008F96;
}

#rodape li {
    list-style: none;
}

#rodape .lastLine {
    background-color: #00BDC0;
    border-radius: 2vh;
}
